org.sidiff.serge/org.sidiff.profileapplicator/config/config.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT Config (GeneralSettings+, ProfileSettings+, StereoTypes+)>
<!ELEMENT GeneralSettings (baseTypeOnly+)>
<!ELEMENT ProfileSettings (BasePackage+, StereoPackage+)>
<!ELEMENT StereoTypes (StereoType+)>

<!ELEMENT baseTypeOnly EMPTY>

<!ELEMENT BasePackage EMPTY>
<!ELEMENT StereoPackage EMPTY>

<!ELEMENT StereoType EMPTY>


<!ATTLIST baseTypeOnly allow CDATA #REQUIRED>

<!ATTLIST BasePackage nsUri CDATA #REQUIRED>
<!ATTLIST StereoPackage nsUri CDATA #REQUIRED>

<!ATTLIST StereoType name CDATA #REQUIRED>
<!ATTLIST StereoType baseType CDATA #REQUIRED>
<!ATTLIST StereoType baseReference CDATA #REQUIRED>